.bottom {
  display: flex;
  width: 100%;
  background-color: var(--bg-color-secondary);

  & .container {
    padding: 60px 15px;
  }
}

.bottom__block-main {
  display: flex;
  justify-content: space-between;
}

.bottom__block-center {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.address-footer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin: 0;

  &:first-child {
    color: var(--bg-color-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
  }
}

.bottom__social-block {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 12px;
}

.bottom__block-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-main);
}

.bottom__social-block-list {
  display: flex;
  column-gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.bottom__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transformation);

  &:hover,
  &:focus {
    background-color: var(--logo-color);
    transition: background-color var(--transformation);
  }
}

.bottom__block-aside {
  margin-top: 12px;
}

.bottom__subcribption-block {
  display: flex;
  margin-top: 20px;
}

.bottom__input {
  width: 358px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  color: var(--bg-color-main);
}

.bottom__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom__subcription-block-srpite {
  margin-left: 10px;
  display: block;
  right: 10px;
  top: 50%;
}
