.solutions-section {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-main.png);
  background-repeat: no-repeat;
}

.solutions-section__title {
  width: 696px;
  height: 120px;
  display: block;
  color: var(--bg-color-main);
  margin: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.solutions-cetion__btn-txt {
  padding: 10px 32px;
}
